{% load antares_tags %}
<table class="tableListing">
	<tr>
		<th>Nom</th><th>Diametre(s)</th>
	    <th>Traitement(s)</th><th>Couleur(s)</th><th>Tarifs</th><th>Actions</th>
	</tr>
	{% for t in listType %}
	<tr>
		<td>{{ t.nom }}<ul><li>Prog.: {{ t.progressif|yesno:"Oui,Non" }}</li>
			<li>Stock: {{ t.stock|yesno:"Oui,Non" }}</li>
			</ul>
		</td>
		<td><ul>{% for ds in t.diametres.all %}<li>{{ ds.nom }}</li>{% endfor %}
			</ul>
		</td>
		<td><ul>{% for ts in t.traitements.all %}<li>{{ ts.nom }}</li>{% endfor %}
			</ul>
		</td>
		<td><ul>{% for cs in t.couleurs.all %}<li>{{ cs.nom }}</li>{% endfor %}
			</ul>
		</td>
		<td>
			<ul>
				<li>Base: {{ t.tarif }}</li>
				<li>Remise monture: {{ t.remise_monture|default:"<span class='quiet'>non renseigné</span>" }}</li>
			</ul>
		</td>
		<td>{% bt "btModType" "ui-icon-pencil" "Modifier..." "modType" t.id %}</td>
	</tr>
	{% endfor %}
</table>