{% extends "base.html" %}

{% block up %}
<h2>Fournisseur ({{ four.id }}) : {{ four.nom }}</h2>
{% endblock %}

{% block center %}
<div class="first span-20 border">
	<h1>Catalogue</h1>
	<div class="divForm">
		<form action="" method="POST">{% csrf_token %}
			<table class="formAsTable">
			{{ formType.as_table }}
			</table>
			<input type="submit" value="Ajouter" name="ajType">
		</form>
	</div>
	<h3>Liste ({{ listType|length }})</h3>
	{% include "fournisseur/_table_listType.html" %}
</div>

<div class="span-10 last">
	<h1>Intitulés</h1>
	<div class="divForm">
		<h2>Traitement</h2>
		<h3>Ajouter:</h3>
		<form action="" method="POST">{% csrf_token %}
			<table class="formAsTable">
			{{ formTraitement.as_table }}
			</table>
			<input type="submit" value="Ajouter" name="ajTraitement">
		</form>
		<h3>Liste ({{listTraitement|length}})</h3>
		<table>
			<tr><th>Nom:</th><th>Tarif</th><th>Actions</th></tr>
			{% for v in listTraitement %}
			<tr>
			  <td>{{ v.nom }}</td>
			  <td>{{ v.tarif }}</td>
			  <td><a href="">Voir</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<hr />
	<div class="divForm">
		<h2>Diamètre</h2>
		<h3>Ajouter:</h3>
		<form action="" method="POST">{% csrf_token %}
			<table class="formAsTable">
			{{ formDiametre.as_table }}
			</table>
			<input type="submit" value="Ajouter" name="ajDiametre">
		</form>
		<h3>Liste ({{listDiametre|length}})</h3>
		<table>
			<tr><th>Nom:</th><th>Actions</th></tr>
			{% for v in listDiametre %}
			<tr>
			  <td>{{ v.nom }}</td>
			  <td><a href="">Voir</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<hr />
	<div class="divForm">
		<h2>Couleur</h2>
		<h3>Ajouter:</h3>
		<form action="" method="POST">{% csrf_token %}
			<table class="formAsTable">
			{{ formCouleur.as_table }}
			</table>
			<input type="submit" value="Ajouter" name="ajCouleur">
		</form>
		<h3>Liste ({{listCouleur|length}})</h3>
		<table>
			<tr><th>Nom:</th><th>Transition</th><th>Actions</th></tr>
			{% for v in listCouleur %}
			<tr>
			  <td>{{ v.nom }}</td>
			  <td>{{ v.transition|yesno:"Oui,Non" }}</td>
			  <td><a href="">Voir</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<hr />
	
</div>

{% endblock %}