{% extends "base.html" %}
{% load antares_tags %}

{% block center %}

<div class="divbox">
	<h2>Liste de fournisseurs</h2>
	<table>
		<tr><th>Nom:</th><th>Tèl</th><th>Email</th><th>Actions</th></tr>
		{% for four in listFour %}
		<tr>
		  <td>{{ four.nom }}</td>
		  <td>{{ four.tel }}</td>
		  <td>{{ four.email }}</td>
		  <td>{% bt "" "ui-icon-folder-open" "Voir" "fournisseur" four.id %}</td>
		</tr>
		{% endfor %}
	</table>
</div>

<div class="divbox">
	<h2>Ajouter un fournisseur</h2>
	<form id="fournisseur_aj" method="POST" action="">{% csrf_token %}
		<table>
		{{ formFour.as_table }}
		</table>
		<p>
			{% sbt "#fournisseur_aj" "nouvFour" "nouvFour" "ui-icon-circle-plus" "Ajouter" %}
		</p>
	</form>
</div>

{% endblock %}