{% extends "base.html" %}

{% block center %}

<div class="first span-10 border">
	<h2>Ajouter un Client</h2>
	<form method="POST" action="">{% csrf_token %}
		<table class="formAsTable">
		{{ formAjoutClient.as_table }}
		</table>
		<input type="submit" value="OK" name="ajClient">
	</form>
</div>

<div class="span-10 border">
	<h2>Ajouter un Organisme</h2>
	<form method="POST" action="">{% csrf_token %}
		<table class="formAsTable">
		{{ formAjoutOrganisme.as_table }}
		</table>
		<input type="submit" value="OK" name="ajOrganisme">
	</form>
</div>

<div class="span-10 last">
	<h2>Ajouter un Prescripteur</h2>
	<form method="POST" action="">{% csrf_token %}
		<table class="formAsTable">
		{{ formAjoutPrescripteur.as_table }}
		</table>
		<input type="submit" value="OK" name="ajPrescripteur">
	</form>
</div>

<hr>

<h2>Liste des clients</h2>
<table>
	<tr><th>Code</th><th>Nom / Prénom</th><th>Tèl</th><th>Email</th><th>Actions</th></tr>
	{% for client in listeClient %}
	<tr>
	  <td>{{ client.code}}</td>
	  <td>{{ client.nom }} {{ client.prenom }}</td>
	  <td>{{ client.telephone }}</td>
	  <td>{{ client.email }}</td>
	  <td><a href="{% url client.views.infoClient client.id %}" class='action'>Voir</a></td>
	</tr>
	{% endfor %}
</table>

{% endblock %}