{% extends "base.html" %}

{% block head %}
<script>

function update_select(select, data) {
        select.find('option').remove();
        select.append($('<option value="">-------</option>'));
        for (var i in data) {
            select.append($('<option value="'+data[i][0]+'">'+data[i][1]+'</option>'));
        }
    }

$(document).ready(function() {
	
	$('select[name=vtype]').live('change', function(e) {
			
			$.get(
	            '{% url fournisseur.views.ajax_filtre_diametre %}',
	            {
	                'vtype': $(this).val(),
	            },
	            function(data, textStatus, jqXHR) {
	                update_select($('select[name=diametre]'), data);
	            },
	            'json'
	        );
			
	        $.get(
	            '{% url fournisseur.views.ajax_filtre_traitement %}',
	            {
	                'vtype': $(this).val(),
	            },
	            function(data, textStatus, jqXHR) {
	                update_select($('select[name=traitement]'), data);
	            },
	            'json'
	        );
	        
	        $.get(
	            '{% url fournisseur.views.ajax_filtre_couleur %}',
	            {
	                'vtype': $(this).val(),
	            },
	            function(data, textStatus, jqXHR) {
	                update_select($('select[name=couleur]'), data);
	            },
	            'json'
	        );
	    });
});

function modStock(lid, qte, seuil)
{
	$('#id_mod-quantite').val(qte);
	$('#id_mod-seuil').val(seuil);
	$('#id_mod-lid').val(lid);
}

</script>
{% endblock %}

{% block center %}

<h2>Stock du fournisseur : {{ fournisseur.nom }}</h2>

<div class="first span-15 border">
	<h2>Ajouter</h2>
	<form action="" method="POST">{% csrf_token %}
		<table class="formAsTable">
		{{ formAjout.as_table }}
		</table>
		<input type="submit" value="Ajouter" name="ajout" />
	</form>
</div>
<div class="span-15 last">
	<h2>Chercher / Filtrer</h2>
	<form action="" method="POST">{% csrf_token %}
		<table class="formAsTable">
		{{ formRecherche.as_table }}
		</table>
		<input type="submit" value="Rechercher" name="rechercher" />
	</form>
</div>

<div class="first span-30">
	<h2>Liste <span class="h2info">{{ filtre|yesno:"(filtrée)," }}</span></h2>
	<table>
		<tr>
			<th>Verre</th><th>Diametre</th>
			<th>Sph.</th><th>Cyl.</th>
			<th>Traitement</th><th>Couleur</th>
			<th>Qte</th><th>Seuil</th>
			<th>Actions</th>
		</tr>
		{% for l in listeStock %}
		<tr>
			<td>{{ l.vtype.nom }}</td><td>{{ l.diametre.nom }}</td>
			<td>{{ l.sphere }}</td><td>{{ l.cylindre }}</td>
			<td>{{ l.traitement.nom }}</td><td>{{ l.couleur.nom }}</td>
			<td>{{ l.quantite }}</td><td>{{ l.seuil }}</td>
			<td><a class="action" onclick="modStock({{ l.id }}, {{ l.quantite }}, {{ l.seuil }})">Modifier</a></td>
		</tr>
		{% endfor %}
	</table>
</div>

<div id="stockmod" class="popbox">
<form action="" method="POST">{% csrf_token %}
{{ formModification.as_table }}
<input type="submit" value="Modifier" name="stockmod">
</form>
</div>

{% endblock %}