{% extends "base.html" %}
{% load antares_tags %}

{% block head %}
<script>
	$(function() {
		$('#tabs-commandes').tabs();
		
		$("#dialog-validation").dialog({
			modal: true,
			autoOpen: false,
			title: "Validation de la commande ?",
			width:'auto',
			show: 'fold',
			hide: 'explode',
		});
		
		$("#dialog-reception").dialog({
			modal: true,
			autoOpen: false,
			title: "Reception de ce(s) verre(s) ?",
			width:'auto',
			show: 'fold',
			hide: 'explode',
		});
		
		$("#dialog-reception-annulation").dialog({
			modal: true,
			autoOpen: false,
			title: "Annulation de reception !",
			width:'auto',
			show: 'fold',
			hide: 'explode',
		});
	});
	
	function validation_commande() {
		$("#dialog-validation").dialog('option', 'buttons', {
	        "Valider": function() {
	            window.location.href = "{% url commande.views.validationCommande cid %}";
	            $(this).dialog("close");
	        },
	        "Annuler": function() {
	            $(this).dialog("close");
	        }
	    });
	    $("#dialog-validation").dialog("open");
	    return false;
	}
	
	
	function reception_commande(ligneCommandeID, qte_com, qte_recu) {
		
		qte_max = qte_com - qte_recu
		
		$( "#id_lignecommande_id" ).val(ligneCommandeID);
		$( "#id_recu" ).val(qte_max);
		
		$( "#qte_max" ).find('span').remove();
		$( "#qte_max" ).append("<span>" + qte_max + "</span>");
	
		$("#dialog-reception").dialog('option', 'buttons', {
	        "Valider": function() {
	            $( "#form-reception" ).submit();
	            $(this).dialog("close");
	        },
	        "Annuler": function() {
	            $(this).dialog("close");
	        }
	    });
	    $("#dialog-reception").dialog("open");
	    return false;
	}
	
</script>
{% endblock %}

{% block center %}

<h1>Commandes</h1>
<div class="divbox">
	<h2>Liste des commandes</h2>
	<div id="tabs-commandes">
		<ul>
		{% for c in listeCommandes %}
			<li><a href="#com{{ c.numero }}">{{ c.numero }} ({{ c.lignecommande_set.all.count }})</a></li>
		{% endfor %}
		</ul>
		
		{% for c in listeCommandes %}
		<div id="com{{ c.numero }}">
			{% if forloop.first %}Prochaine commande{% endif %}
			<table>
				<thead>
					<tr>
						<th>Info prescription ou "Stock"</th><th>Type</th><th>Formule</th><th>Quantité</th><th>Quantité reçue</th><th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for ligne in c.lignecommande_set.all %}
					<tr>
						<td>{% if ligne.ligne_facture %}{% bt "" "ui-icon-person" ligne.ligne_facture.facture.client "client.views.infoClient" ligne.ligne_facture.facture.client.id %}
							{% bt "" "ui-icon-print" ligne.ligne_facture.facture.numero "sortiespdf.views.facture" ligne.ligne_facture.facture.id %} ( Oeil: {{ ligne.oeil }} ) 
							{% else %}Stock{% endif %}
						</td>
						<td>{% if ligne.ligne_facture %}{{ ligne.ligne_facture.vtype.nom }} / {{ ligne.ligne_facture.couleur }} / {{ ligne.ligne_facture.traitement }}
							{% else %}{{ ligne.ligne_stock.vtype.nom }} / {{ ligne.ligne_stock.couleur }} / {{ ligne.ligne_stock.traitement }}{% endif %}</td>
						<td>{% if ligne.ligne_facture %}
							{% formule ligne.ligne_facture.facture.prescription ligne.oeil %} 
							&Oslash;: {{ ligne.ligne_facture.diametre }}
						{% else %}
							{{ ligne.ligne_stock.sphere|norm }} 
							{% if ligne.ligne_stock.cylindre != 0 %}({{ ligne.ligne_stock.cylindre|norm }}) {% endif %}
							&Oslash;: {{ ligne.ligne_stock.diametre }} 
						{% endif %}</td>
						<td>{{ ligne.quantite }}</td>
						<td>{{ ligne.quantite_recu }}</td>
						<td>{% if not forloop.parentloop.first %}{% jbt "reception_commande" "btReception" "ui-icon-circle-check" "Reçu..." ligne.id ligne.quantite ligne.quantite_recu %}{% endif %}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			{% if forloop.first %}
			<p>Verre de stock à commander</p>
			<table>
				<tr>
					<th>Verre</th><th>Diametre</th>
					<th>Sph.</th><th>Cyl.</th>
					<th>Traitement</th><th>Couleur</th>
					<th>Qte</th><th>Seuil</th><th>En commande</th><th>A commander</th>
					<th>Actions</th>
				</tr>
				{% for l in liste %}
				<tr>
					<td>{{ l.lignestock.vtype.nom }}</td><td>{{ l.lignestock.diametre.nom }}</td>
					<td>{{ l.lignestock.sphere|norm }}</td><td>{{ l.lignestock.cylindre|norm }}</td>
					<td>{{ l.lignestock.traitement.nom }}</td><td>{{ l.lignestock.couleur.nom }}</td>
					<td>{{ l.lignestock.quantite }}</td><td>{{ l.lignestock.seuil }}</td>
					<td>{{ l.qtcom }}</td><td>{{ l.qtacom }}</td>
					<td>
						{% bt "" "ui-icon-suitcase" "Voir stock" "" %}
					</td>
				</tr>
				{% endfor %}
			</table>
			{% jbt "validation_commande" "btValidation" "ui-icon-circle-check" "valider la commande..." %}
			{% else %}
				{% bt "" "ui-icon-print" "Voir la commande (PDF)" "sortiespdf.genPDFcommande.commandepdf" c.numero %}
			{% endif %}
		</div>
		{% endfor %}
		
	</div>
</div>

<div class="divbox">
	<h2>Outils</h2>
	{% bt "a_impr" "ui-icon-print" "Recapitulatif commandes en cours (PDF)" "" %}
</div>

<!-- Dialog //-->
<div id="dialog-validation">
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all">
			<p><span class="ui-icon ui-icon-alert"></span>
			Attention, pas d'annulation !</p>
		</div>
		<p>Validation de la commande ?</p>
	</div>
</div>

<div id="dialog-reception">
	<div class="ui-widget">
		<p>Verre reçu ?</p>
		<form action="" method="POST" id="form-reception">{% csrf_token %}
			<table>
				<tr><th>Qte MAX</th><th>Qte Reçue</th></tr>
				<tr><td id="qte_max"></td><td>{{ comRecepForm.recu }}</td></tr>
			</table>
			{% for hidden in comRecepForm.hidden_fields %}
			{{ hidden }}
			{% endfor %}
		</form>
	</div>
</div>

<div id="dialog-reception-annulation">
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all">
			<p><span class="ui-icon ui-icon-alert"></span>
			Annulation de la reception du(des) verre(s). Cette action ne peut être annulée.</p>
		</div>
		<p>Voulez-vous continuer ?</p>
	</div>
</div>

<!-- fin Dialog //-->

{% endblock %}