{% extends "base.html" %}
{% load antares_tags %}
{% block center %}

<h1>Facture / Pro forma</h1>

<div class="first span-30">
	<div class="navigation">
		<ul class="ul_right">
			<span>{{ appFacture.etape_no }} / {{ appFacture.etapes|length }}</span> 
			<li>{% bt "facture.func.etapePrecedente" "a_prec" "ui-icon-seek-prev" "Précédent" %}</a></li>
			<li>{% bt "facture.func.etapeSuivante" "a_suiv" "ui-icon-seek-next" "Suivant" %}</a></li>
			<li>{% bt "facture.func.reset" "a_reset" "ui-icon-trash" "RESET" %}</li>
		</ul>
		<span>Etapes:</span>
		<ul class="ul_left">
			{% for etape in appFacture.etapes %}
			<li> | <a href="" class="{% if forloop.counter == appFacture.etape_no %}active{% endif %}">{{ etape }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="first span-22 border">
{% block centernext %}{% endblock %}
</div>
<div class="span-8 last">
	<h2>En cours...</h2>
	<div class="">
		<h3>Client</h3>
		<p>
			Nouveau client ? : {{ appFacture.b_creation|yesno:"Oui, Non" }}
			{% if appFacture.b_modification %}<br>Infos client modifiées.{% endif %}
		</p>
		{% if appFacture.client %}
		<ul>
			<li>Nom: {{ appFacture.client.nom }}</li>
			<li>Prénom: {{ appFacture.client.prenom }}</li>
			<li>Téléphone: {{ appFacture.client.telephone }}</li>
			<li>Email: {{ appFacture.client.email }}</li>
			<li>Organisme: {{ appFacture.client.organisme }}</li>
		</ul>
		{% endif %}
	</div>
	<hr>
	<div class="">
		<h3>Prescription</h3>
		
	</div>
	
</div>
{% endblock %}