{% extends "base.html" %}
{% load antares_tags %}
{% block center %}

<h1>Facture / Pro forma</h1>

<div class="first span-30">
	<div class="navigation">
		<div class="side_right">
			<span><b>{{ appFacture.etape_no }} / {{ appFacture.etapes|length }}</b></span> 
			{% bt "a_prec" "ui-icon-seek-prev" "Précédent" "facture.func.etapePrecedente" %} 
			{% bt "a_suiv" "ui-icon-seek-next" "Suivant" "facture.func.etapeSuivante" %} 
			{% bt "a_reset" "ui-icon-trash" "RESET" "facture.func.reset" %} 
		</div>
		<span>Etapes:</span>
		<ul class="ul_left">
			{% for etape in appFacture.etapes %}
			<li class="{% if forloop.counter == appFacture.etape_no %}active{% endif %}"> | {{ etape }}</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div class="first span-22 border">
{% block centernext %}{% endblock %}
</div>

<div class="span-8 last">
	<div class="divbox">
		<h2>En cours...</h2>
		<div class="">
			<h3>Client</h3>
			<p>
				Nouveau client ? : {{ appFacture.b_creation|yesno:"Oui, Non" }}
				{% if appFacture.b_modification %}<br>Infos client modifiées.{% endif %}
			</p>
			{% if appFacture.client %}
			<ul>
				<li>Nom: {{ appFacture.client.nom }}</li>
				<li>Prénom: {{ appFacture.client.prenom }}</li>
				<li>Téléphone: {{ appFacture.client.telephone }}</li>
				<li>Email: {{ appFacture.client.email }}</li>
			</ul>
			{% endif %}
		</div>
		<hr>
		<div>
			<h3>Prescription</h3>
			<ul>
				<li>OD: {% if appFacture.sphod %}{% if appFacture.sphod < 0 %}Myope{% elif appFacture.sphod > 0 %}Hypermetrope{% else %}Plan{% endif %} , {% if not appFacture.astig_od == None and appFacture.astig_od %}Astigmate{% endif %}{% else %}pas encore renseigné{% endif %}</li>
				<li>OG: {% if appFacture.sphog %}{% if appFacture.sphog < 0 %}Myope{% elif appFacture.sphog > 0 %}Hypermetrope{% else %}Plan{% endif %} , {% if not appFacture.astig_og == None and appFacture.astig_og %}Astigmate{% endif %}{% else %}pas encore renseigné{% endif %}</li>
			</ul>
			{% if appFacture.attention_sphere %}
			<div class="ui-widget">
				<div class="ui-state-error ui-corner-all">
					<p><span class="ui-icon ui-icon-alert"></span>
						Forte(s) sphère(s) detectée(s). <br><b>Attention à l'indice.</b></p>
				</div>
			</div>
			{% endif %}
			{% if appFacture.contraxe %}
			<br>
			<div class="ui-widget">
				<div class="ui-state-error ui-corner-all">
					<p><span class="ui-icon ui-icon-alert"></span>
						Contraxe !</p>
				</div>
			</div>
			{% endif %}
			<p>Possibilités:
				<ul>
					<li>OD: {% if appFacture.progressif_od == 'p' %}VL, VP, Progressif{% elif appFacture.progressif_od == 'u' %}VL ou VP{% else %}Pas encore définies{% endif %}</li>
					<li>OG: {% if appFacture.progressif_og == 'p' %}VL, VP, Progressif{% elif appFacture.progressif_og == 'u' %}VL ou VP{% else %}Pas encore définies{% endif %}</li>
				</ul>
			</p>
		</div>
	</div>
	
</div>
{% endblock %}