{% extends "facture/base.html" %}
{% load antares_tags %}
{% block head %}

{% endblock %}

{% block centernext %}

<div class="first span-22 border">
	<div class="divbox">
		<h2>Montures</h2>
		<div class="ui-widget divinfo">
			<div class="ui-state-highlight ui-corner-all">
				<p><span class="ui-icon ui-icon-info"></span>
				Tous les champs sont requis</p>
				</p>
			</div>
		</div>
		<br>
		<form action="" method="POST" id="facture_formMontures">{% csrf_token %}
		{{ formSetMonture.management_form }}
		{% for f in formSetMonture %}
		<div class="tableTitle">Monture: {{ forloop.counter }}</div>
		<table class="formAsTable">
			{{ f.as_table }}
		</table>
		{% endfor %}
		</form>
		<p>
			{% sbt "#facture_formMontures" "ajMontures" "ajMontures" "ui-icon-circle-check" "Continuer" %}
		</p>
	</div>
</div>

{% endblock %}