{% extends "facture/base.html" %}
{% load antares_tags %}

{% block head %}{{ block.super }}

<script>
$(document).ready(function(e){

	$("#dialog-form").dialog({
		modal: true,
		autoOpen: false,
		title: "Validation de la saisie",
		width:'auto',
		show: 'fold',
		hide: 'explode',
	});
});

function validation_fac() {
	$("#dialog-form").dialog('option', 'buttons', {
        "Ajouter": function() {
            //post du form
            $("#facture_choix").submit();
            $(this).dialog("close");
        },
        "Annuler": function() {
            $(this).dialog("close");
        }
    });
    $("#dialog-form").dialog("open");
    return false;
}

</script>

{% endblock %}

{% block centernext %}
<div id="dialog-form">
	<div class="ui-widget">
		<div class="ui-state-error ui-corner-all">
			<p><span class="ui-icon ui-icon-alert"></span>
			Attention, dernière étape !</p>
		</div>
		<p>Validation de toutes les données ?</p>
	</div>
</div>

<div class="first span-13">
	<div class="divbox">
		<h2>Client</h2>
		<p>Verifier les infos</p>
		<h3>Client en cours:</h3>
		{% if client_orig %}<p>Modification du client</p>{% endif %}
		<ul>
			{% if client.code %}<li>Code: {{ client.code }}</li>{% endif %}
			<li>Nom: {{ client.nom }}</li>
			<li>Prénom: {{ client.prenom }}</li>
			<li>Téléphone: {{ client.telephone }}</li>
			<li>Email: {{ client.email }}</li>
		</ul>
		{% if client_orig %}
		<h3>Infos originales</h3>
		<ul>
			<li>Nom: {{ client_orig.nom }}</li>
			<li>Prénom: {{ client_orig.prenom }}</li>
			<li>Téléphone: {{ client_orig.telephone }}</li>
			<li>Email: {{ client_orig.email }}</li>
		</ul>
		{% endif %}
	</div>
	
	<div class="divbox">
		<h2>Verres</h2>
		<p>Verifier les infos</p>
		<table>
			<tr><th>Oeil</th><th>Type</th><th>Diamètre</th><th>Couleur</th><th>Traitement</th><th>Tarif</th></tr>
			{% for grp in t_verres %}
			<tr><td colspan="6">Monture {{ forloop.counter }}</td></tr>
				{% for v in grp %}
				<tr>
					<td>{{ v.oeil }}</td>
					<td>{{ v.vtype }}</td><td>{{ v.diametre }}</td>
					<td>{{ v.couleur }}</td><td>{{ v.traitement }}</td>
					<td>{{ v.tarif|mille }}</td>
				</tr>
				{% endfor %}
			{% endfor %}
		</table>
	</div>
	
	<div class="divbox">
		<h2>Options</h2>
		<p>Verifier les infos</p>
		<table>
			<tr><th>Option</th><th>Tarif</th></tr>
			{% for o in t_options %}
			<tr>
				<td>{{ o.nom }}</td><td>{{ o.tarif|mille }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>

<div class="span-9 last">
	<div class="divbox">
		<h2>Prescription</h2>
		<p>Verifier les infos</p>
		<div class="tableTitle">Prescription:</div>
		<table>
			<tr><th>Oeil</th><th>Sphère</th><th>Cylindre</th><th>Add</th><th>Axe</th></tr>
			<tr>
				<td>OD</td><td>{{ prescription.sphere_od|norm }}</td><td>{{ prescription.cylindre_od|norm|default:'n.r' }}</td>
				<td>{{ prescription.addition_od|norm|default:'n.r' }}</td><td>{{ prescription.axe_od|default:0 }}</td>
			</tr>
			<tr>
				<td>OG</td><td>{{ prescription.sphere_og|norm }}</td><td>{{ prescription.cylindre_og|norm|default:'n.r'}}</td>
				<td>{{ prescription.addition_og|norm|default:'n.r' }}</td><td>{{ prescription.axe_og|default:0 }}</td>
			</tr>
		</table>
		<div class="tableTitle">Transposition:</div>
		<table>
			<tr><th>Oeil</th><th>Sphère</th><th>Cylindre</th><th>Add</th><th>Axe</th></tr>
			<tr>
				<td>OD</td><td>{{ prescription_t.sphere_od|norm }}</td><td>{{ prescription_t.cylindre_od|norm|default:'n.r' }}</td>
				<td>{{ prescription_t.addition_od|norm|default:'n.r' }}</td><td>{{ prescription_t.axe_od|default:0 }}</td>
			</tr>
			<tr>
				<td>OG</td><td>{{ prescription_t.sphere_og|norm }}</td><td>{{ prescription_t.cylindre_og|norm|default:'n.r' }}</td>
				<td>{{ prescription_t.addition_og|norm|default:'n.r' }}</td><td>{{ prescription_t.axe_og|default:0 }}</td>
			</tr>
		</table>
	</div>
	<div class="divbox">
		<h2>Montures</h2>
		<p>Verifier les infos</p>
		<table>
			<tr><th>N°</th><th>Monture</th><th>Vue</th><th>Tarif</th></tr>
			{% for m in t_montures %}
			<tr>
				<td>{{ m.numero|add:1 }}</td>
				<td>{{ m.nom|default:"pas de monture" }}</td>
				<td>{{ m.vision }}</td>
				<td>{{ m.tarif|mille }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="divbox">
		<h2>Validation</h2>
		<p>Pro forma / Facture...</p>
		<div class="ui-widget divinfo">
			<div class="ui-state-highlight ui-corner-all">
				<p>
					<span class="ui-icon ui-icon-info"></span>
					<b>Solde: {{ solde|mille }} FCFA</b>
				</p>
			</div>
		</div>
		<form action="" method="POST" id="facture_choix">{% csrf_token %}
		<table class="formAsTable">
			{{ formFacture.as_table }}
		</table>
		<p>
			{% jbt "validation_fac" "btValidation" "ui-icon-circle-check" "valider..." %}
		</p>
		</form>
	</div>
</div>

{% endblock %}