{% extends "facture/base.html" %}
{% load antares_tags %}

{% block centernext %}

<div class="first span-8 border">
	<h2>Client <span>{% if appFacture.client_id %}(n°: {{ appFacture.client_id }}){% else %}(nouveau){% endif %}</span></h2>
	<form id="client_formClient" method="POST" action="">{% csrf_token %}
		<table class="formAsTable">
		{{ formClient.as_table }}
		</table>
		<p>
			{% sbt "#client_formClient" "ajClient" "ajClient" "ui-icon-circle-check" "Continuer" %}
		</p>
	</form>
</div>

<div class="span-14 last">
	{% if b_modif %}
	<div class="warning">
		Les informations du client seront modifiées à la validation de la facture/pro forma<br />
		Confirmer ? 
		<form id="facture_formValidation" action="" method="POST">{% csrf_token %}
			{% sbt "#facture_formValidation" "modClient" "modClient" "ui-icon-circle-check" "Oui" %} | {% sbt "#facture_formValidation" "pasModClient" "pasModClient" "ui-icon-circle-close" "Non" %}
		</form>
		<br />
		<h3>Données originales</h3>
		<ul>
			<li>Nom: {{ client_orig.nom }}</li>
			<li>Prénom: {{ client_orig.prenom }}</li>
			<li>Téléphone: {{ client_orig.telephone }}</li>
			<li>Email: {{ client_orig.email }}</li>
			<li>Organisme: {{ client_orig.organisme }}</li>
		</ul> 
	</div>
	<hr />
	{% endif %}
</div>

{% endblock %}