{% extends "facture/base.html" %}


{% block centernext %}

<div class="first span-22 border">
	<h2>Verres</h2>
	<form id="facture_formVerres" method="POST" action="">{% csrf_token %}
		{% for form in formSetLigne %}
		
		{% if forloop.counter0|divisibleby:2 %}
		{% if forloop.counter0 != 0 %}
		</table>
		{% endif %}
		<table class="formAsHorTable">
			<tr>
				<th>Oeil</th>
				<th>{{ form.vtype.label_tag }}</th>
				<th>{{ form.diametre.label_tag }}</th>
				<th>{{ form.couleur.label_tag }}</th>
				<th>{{ form.traitement.label_tag }}</th>
				<th>{{ form.tarif.label_tag }}</th>
			</tr>
		{% endif %}
			
			<tr>
				<td>{% cycle 'OD' 'OG' %}</td>
				<th>{{ form.vtype }}</th>
				<th>{{ form.diametre }}</th>
				<th>{{ form.couleur }}</th>
				<th>{{ form.traitement }}</th>
				<th>{{ form.tarif }}</th>
			</tr>
		
		{% endfor %}
		</table>
		<input type="submit" value="OK" name="ajVerres">
	</form>
</div>

{% endblock %}