{% extends "facture/base.html" %}
{% load antares_tags %}
{% block head %}{{ block.super }}

{% endblock %}

{% block centernext %}

<div class="first span-22 border">
	<div class="divbox">
		<h2>Montures</h2>
		
		<div class="ui-widget divinfo">
			<div class="ui-state-highlight ui-corner-all">
				<p>
					<span class="ui-icon ui-icon-info"></span>
					Si pas de monture vendu avec les verres, laisser le nom vide et définisser le tarif à 0.<br>
					Pour ne commander qu'un seul verre, selectionner l'oeil correspondant dans la(les) case(s) "oeil"
					{% if restauration %}<br>Monture(s) déjà renseignée(s) : {{ restauration }}{% endif %}
				</p>
			</div>
		</div>
		<br>
		
		<form action="" method="POST" id="facture_formMontures">{% csrf_token %}
		{{ formSetMonture.management_form }}
		<div id="formset">
			{% for f in formSetMonture %}
			<div class="tableTitle">Monture: {{ forloop.counter }}</div>
			<table class="formAsTable">
				{{ f.as_table }}
			</table>
			{% endfor %}
		</div>
		</form>
	</div>
</div>

{% endblock %}

{% block bar %}{{ block.super }}
{% sbt "#facture_formMontures" "ajMontures" "ajMontures" "ui-icon-circle-check" "Valider et aller à l'étape suivante" %}
{% endblock %}