{% extends "facture/base.html" %}

{% block centernext %}

<div class="first span-8 border">
	<h2>Client <span>(n°: {{ appFacture.client_id }})</span></h2>
	<form id="client_formClient" method="POST" action="">{% csrf_token %}
		<table class="formAsTable">
		{{ formClient.as_table }}
		</table>
		<input type="submit" value="OK" name="ajClient">
	</form>
</div>

<div class="span-14 last">
	{% if b_modif %}
	<div class="warning">
		Les informations du client seront modifiées à la validation de la facture/pro forma<br />
		Confirmer ? <a href="">Oui</a> | <a href="">Non</a>
		<br />
		<h3>Données originales</h3>
		<ul>
			<li>Nom: {{ client_orig.nom }}</li>
			<li>Prénom: {{ client_orig.prenom }}</li>
			<li>Téléphone: {{ client_orig.telephone }}</li>
			<li>Email: {{ client_orig.email }}</li>
			<li>Organisme: {{ client_orig.organisme }}</li>
		</ul> 
	</div>
	<hr />
	{% endif %}
</div>

{% endblock %}