{% extends "facture/base.html" %}
{% load antares_tags %}

{% block head %}

<script>

function update_selects(id, data) {
	// $('select[name=diametre]')
	champs = ["-diametre", "-couleur", "-traitement"];
	
	for(var index in champs) {
		sname = "form-"+id+champs[index]
		select = $('select[name='+ sname + ']');
		select.find('option').remove();
    	select.append($('<option value="">-------</option>'));
    	for (var i in data[index]) {
        	select.append($('<option value="'+data[index][i][0]+'">'+data[index][i][1]+'</option>'));
    	}
    	
    }
    
    
	
}

$(document).ready(function() {
	
	$('select[name$=vtype]').live('change', function(e) {
			
			id = $(this).attr("name").substr(5, 1)
			$.get(
	            '{% url facture.views.ajax_filtre %}',
	            {
	                'vtype': $(this).val(),
	            },
	            function(data, textStatus, jqXHR) {
	                update_selects(id, data);
	            },
	            'json'
	        );
	        
	        
			
	    });
	    
    $("select[id$=vtype]").chosen({no_results_text: "Aucun résultat..."});
});


function update_info(id, data) {
	$('#info_' + id).find('div.divinfo').remove();
	
	retour = "<div class=\"ui-widget divinfo\">";
	
	entete_info = "<div class=\"ui-state-highlight ui-corner-all\">" +
				"<p><span class=\"ui-icon ui-icon-info\"></span>";
				
	entete_err = "<div class=\"ui-state-error ui-corner-all\">" +
				"<p><span class=\"ui-icon ui-icon-alert\"></span>";
	
	if ( data.length == 2 ) {
		
		if( data[0] == 'stock') {
		
			if( data[1] > 1 ) {
				retour+= entete_info;
				retour+= "En stock: " + data[1];
			}
			else if( data[1] == 1 ) {
				retour+= entete_info;
				retour+= "Attention, un seul en stock !";
			}
			else if( data[1] == 0 ) {
				retour+= entete_err;
				retour+= "Verre epuisé (à commander)";
			}
			else if( data[1] == -1 ) {
				retour+= entete_err;
				retour+= "Verre de stock, non stocké (à commander)";
			}
			
		}
		else if( data[0] == 'prescription' ) {
			retour+= entete_info;
			retour+= "Verre de prescription (à commander)";
		
		}
	}
	else {
		retour+= entete_err;
		retour+= "Selectionner au moins le type et le diamètre";
	} 
	
	retour+= "</p>" +
		"</div><br>" +
	"</div>";
	$('#info_' + id).prepend(retour);
}


function getInfo(id, oeil) {
	
	vtype = $('#id_form-' + id + '-vtype').val();
	diametre = $('#id_form-' + id + '-diametre').val();
	couleur = $('#id_form-' + id + '-couleur').val();
	traitement = $('#id_form-' + id + '-traitement').val();
	
	$.get(
        '{% url facture.views.ajax_info %}',
        {
        	'oeil': oeil,
            'vtype': vtype,
            'diametre': diametre,
            'couleur': couleur,
            'traitement': traitement,
        },
        function(data, textStatus, jqXHR) {
            update_info(id, data);
        },
        'json'
    );
}

</script>
{% endblock %}

{% block centernext %}

<div class="first span-22 border">
	<h2>Verres</h2>
	<div class="aide">Selectionner le Type en premier.</div>
	
	<form id="facture_formVerres" method="POST" action="">{% csrf_token %}
	{{ formSetLigne.management_form }}
		{% for form in formSetLigne %}
		
		{% if forloop.counter0|divisibleby:2 %}
		{% if forloop.counter0 != 0 %}
		</table>
		{% endif %}
		{% comment %}
		Faire des math avec django... technique du widthratio
		 http://slacy.com/blog/2010/07/using-djangos-widthratio-template-tag-for-multiplication-division/
		{% endcomment %}
		<div class="tableTitle">Monture {% widthratio forloop.counter 2 1 %}</div>
		<table class="formAsHorTable">
			<tr>
				<th>Oeil</th>
				<th class="required">{{ form.vtype.label_tag }}</th>
				<th class="required">{{ form.diametre.label_tag }}</th>
				<th>{{ form.couleur.label_tag }}</th>
				<th>{{ form.traitement.label_tag }}</th>
				<th>Info</th>
			</tr>
		{% endif %}
			
			<tr>
				<td>{% cycle 'OD' 'OG' as oeil %}</td>
				<td>{% ffe form.vtype.errors %}{{ form.vtype }}</td>
				<td>{% ffe form.diametre.errors %}{{ form.diametre }}</td>
				<td>{% ffe form.couleur.errors %}{{ form.couleur }}</td>
				<td>{% ffe form.traitement.errors %}{{ form.traitement }}</td>
				<td id="info_{{ forloop.counter0 }}">{% jbt "getInfo" "" "ui-icon-search" "Voir" forloop.counter0 oeil  %}</td>
			</tr>
		
		{% endfor %}
		</table>
		{% sbt "#facture_formVerres" "ajVerres" "ajVerres" "ui-icon-circle-check" "Continuer" %}
	</form>
	<br />
	<hr />
</div>

{% endblock %}