{% load antares_tags %}
<html>
  <head>
    <title>Antares :</title>
    <meta content="">
    <link type='text/css' rel='stylesheet' href='/media/blueprint/screen.css' />
    <link type="text/css" rel='stylesheet' href="/media/jqui/css/excite-bike/jquery-ui-1.8.24.custom.css" />
    <link type="text/css" rel='stylesheet' href="/media/chosen/chosen.css" />
    <link type='text/css' rel='stylesheet' href='/media/style.css' />
    <script src='/media/jquery-1.7.2.min.js'></script>
    <script type="text/javascript" src="/media/jqui/js/jquery-ui-1.8.24.custom.min.js"></script>
    <script type="text/javascript" src="/media/jqui/js/jquery.ui.datepicker-fr.js"></script>
    <script type="text/javascript" src="/media/chosen/chosen.jquery.min.js"></script>
    <script>
    	$(function() {
    		
    		$('.l-button').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
			);
		});
		
		function submitForm(formID, param) {
			$('<input />').attr('type', 'hidden')
            	.attr('name', param)
            	.attr('value', param)
            	.appendTo(formID);
			$(formID).submit();
		}
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
  	<div class="container">
  		<div id="topmenu" class="first span-30 last">
  			<ul>
  				<li><a href="{% url facture.func.ctrl %}">Facture</a></li>
  				<li><a href="{% url fournisseur.views.index %}">Fournisseurs</a></li>
  				<li><a href="{% url stock.views.index %}">Stocks</a></li>
  				<li><a href="{% url client.views.index %}">Clients</a></li>
  			</ul>
  		</div>
  		{% if messages %}
		<div id="messages" class="first span-30">
			<ul class="messages">
			    {% for message in messages %}
			    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			    {% endfor %}
			</ul>	
		</div>
		{% endif %}
  	  	<div id="up">
  			{% block up %}{% endblock %}
  		</div>
  		<div id="center" class="first span-30 last">
  			{% block center %}{% endblock %}
  		</div>
  	</div>
  </body>
</html>