<html>
  <head>
    <title>Antares :</title>
    <meta content="">
    <link type='text/css' rel='stylesheet' href='/media/blueprint/screen.css' />
    <link type='text/css' rel='stylesheet' href='/media/style.css' />
  </head>
  <body>
  	<div class="container">
  		<div id="topmenu" class="span-30">
  			<ul>
  				<li><a href="{% url fournisseur.views.index %}">Fournisseurs</a></li>
  				<li>Stocks</li>
  			</ul>
  		</div>
  		{% if messages %}
		<div id="messages" class="first span-30">
		<ul class="messages">
		    {% for message in messages %}
		    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		    {% endfor %}
		</ul>	
		</div>
		{% endif %}
  	  	<div id="up">
  			{% block up %}{% endblock %}
  		</div>
  		<div id="center">
  			{% block center %}{% endblock %}
  		</div>
  	</div>
  </body>
</html>