{% load antares_tags %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>Antares :</title>
    <meta content="">
    <link type='text/css' rel='stylesheet' href='/media/blueprint/screen.css' />
    <link type="text/css" rel='stylesheet' href="/media/jqui/css/custom-theme/jquery-ui-1.9.2.custom.css" />
    <link type="text/css" rel='stylesheet' href="/media/chosen/chosen.css" />
    <link type='text/css' rel='stylesheet' href='/media/style.css' />
    <script src='/media/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src="/media/jqui/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="/media/jqui/js/jquery.ui.datepicker-fr.js"></script>
    <script type="text/javascript" src="/media/chosen/chosen.jquery.min.js"></script>
    <script>
    	$(function() {
    		
    		$('.l-button').hover(
					function() { $(this).addClass('ui-state-hover'); },
					function() { $(this).removeClass('ui-state-hover'); }
			);
			
			
			setInterval(function() {
		        if  ( $(window).scrollTop() >= ( $(document).innerHeight() - $(window).height() - 10 ) ){
				    $("#indicateur_pagelongue").hide();
				}
				else {
					$("#indicateur_pagelongue").show();	
				}  
			}, 500);
		
		});
		
		
		
		function submitForm(formID, param) {
			$('<input />').attr('type', 'hidden')
            	.attr('name', param)
            	.attr('value', param)
            	.appendTo(formID);
			$(formID).submit();
		}
    </script>
    {% block head %}{% endblock %}
  </head>
  <body>
  	<div class="container">
  		<div class="wrapper">
	  		<div id="topmenu" class="first span-30 last">
	  			<ul>
	  				<li><a href="{% url facture.func.ctrl %}">Facture</a></li>
	  				<li><a href="{% url fournisseur.views.index %}">Fournisseurs</a></li>
	  				<li><a href="{% url stock.views.index %}">Stocks</a></li>
	  				<li><a href="{% url client.views.index %}">Clients</a></li>
	  				<li><a href="{% url commande.views.index %}">Commandes</a></li>
	  			</ul>
	  			
	  			<ul id="ctrl_utilisateur">
	  				<li>Utilisateur: {{ user.username }}</li>
	  				<li>| <a href="">Déconnecter</a></li>
	  			</ul>
	  		</div>
	  		{% if messages %}
			<div id="messages" class="first span-30">
				<div class="divbox">
					<h2>Messages</h2>
					<ul class="messages">
					    {% for message in messages %}
					    <li{% if message.tags %} class="ui-state-default {{ message.tags }}"{% endif %}><span class="ui-icon"></span>{{ message }}</li>
					    {% endfor %}
					</ul>	
				</div>
			</div>
			{% endif %}
	  	  	<div id="up">
	  			{% block up %}{% endblock %}
	  		</div>
	  		<div id="center" class="first span-30 last">
	  			{% block center %}{% endblock %}
	  		</div>
	  		<div class="push"></div>
	  	</div>
	  	<div class="first span-30 last bar">
	  		<div class="ui-widget" id="indicateur_pagelongue">
				<div class="ui-state-error ui-corner-all">
					<p><span class="ui-icon ui-icon-alert"></span><b>Longue page</b></p>
				</div>
			</div>
	  		<div style="display: inline-block; width:1px;height:100%;background-color:lightblue; position: relative;">&nbsp;</div>
	  		<p style="float: right; align: right;">{% block bar %}{% endblock %}</p>
	  	</div>
  	</div>
  	
  </body>
</html>