body { background-color: #000008; color: white; }
tbody tr:nth-child(even) td, tbody tr.even td {background:#0b2228;}
h2, h3 { color: #5fbcd3; margin: 5px 0 5px 0; text-shadow:2px 2px 2px #0044AA;}
.border { border-right-color: #002255; }
hr {background:#002255;color:#002255; }

div.tableTitle { font-weight: bold; color: #B3D7E3; }


/* topmenu */
#topmenu { background-color: #0d2d51; margin-bottom: 5px;}
#topmenu ul { display: inline; list-style: none; }
#topmenu ul li { display: inline; margin-left: 5px; }

#topmenu, #topmenu a, #topmenu a:visited { color: white; font-weight: bold; }

/* ul.errorlist */
ul.errorlist {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
ul.errorlist {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}

/* form */

input[type="text"], input[type="checkbox"], select {
  padding: 1px 3px 1px 3px;
  border: 1px solid #5fbcd3;
  border-radius: 5px;
  box-shadow: none;
  background-color: #003380;
  color: #5fbcd3;
  margin: 1px 2px 1px 2px;
}

input[type="submit"], .action { 
  border: 0px solid black;
  background-color: #FF7F2A;
  color: white;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  text-decoration: none;
}
input[type="submit"]:hover, .action:hover { background-color: #008000; color: white;}

/* lien */
div.dataTables_paginate a {
  border: 0px solid black;
  background-color: #5fbcd3;
  color: white;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

div.dataTables_paginate a.paginate_button_disabled {
  cursor: not-allowed;
}

div.dataTables_paginate a.paginate_active {
  background-color: #0044AA;
}


/*table formAsTable */


table.formAsTable { border-collapse: separate; border-spacing: 2px;}
table.formAsTable td, table.formAsTable th { border: 1px solid #1c6fcd; border-top-right-radius: 8px; border-bottom-right-radius: 8px; }
table.formAsTable th { border-color: #0d2d51; border-top-left-radius: 8px; border-bottom-left-radius: 8px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
table.formAsTable td ul { margin-bottom: 0; }
table.formAsTable td ul li { display: inline; margin-right: 10px;}

table.formAsTable tr.required label:after { content: "*"; color: red;}

table.formAsTable ul.errorlist {padding:0;margin:0;border:0px solid #ddd;}
table.formAsTable tr.error { background: none; }


/*table tableListing */

table.tableListing td { border-bottom: 1px solid #1c6fcd; vertical-align: middle;}
table.tableListing td ul { margin-bottom: 0; }


/* table formAsHorTable */
table.formAsHorTable { border-collapse: separate; border-spacing: 2px;}
table.formAsHorTable td, table.formAsHorTable th { border: 1px solid #1c6fcd; }
table.formAsHorTable th { background-color: #0d2d51; }
table.formAsHorTable td { background-color: none; }

table.formAsHorTable ul.errorlist {padding:0;margin:0;border:0px solid #ddd;}


/* popbox */

.popbox { 
  display: none;
  position: fixed;
  top: 40%; left: 25%;
  border: 0px solid black;
  border-radius: 5px;
  background-color: black;
  
  width: 50%; height: auto;
  margin-left: auto; margin-right: auto;
  
  color: white;
  padding: 5px;
}

.popbox a.action { float: right; }

.popbox table.formAsTable tr th { color: white; }
.popbox table.formAsTable tr td { background: none;}


/* navigation */

div.navigation { background: none; border: 1px dashed #5fbcd3; border-radius: 5px; }
div.navigation ul { margin: 3px 3px 3px 3px; display: inline; }
div.navigation ul li { display: inline; margin-left: 3px;}
div.navigation ul.ul_right { float: right; }
div.navigation a.active { color: yellow; font-weight: bold; }


/* hack-support jquery-ui */

.ui-widget { font-size: inherit; }
.ui-widget p { position: relative; margin: 2px 2px 2px 2px; padding-left: 25px;}
.ui-widget p span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
.ui-widget thead th { background: none; }

.l-button {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
.l-button span.ui-icon { float: left; margin: 0 .3em 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
.l-button, .l-button:hover { color: white; }
