body { 
  background-color: #FFF; 
  background: url('442.png');
  color: #292929;
  
}

h1 { font-weight: 900; }

h2, h3 { 
  color: #5fbcd3;
  margin: 0px 0 10px 0px;
  text-shadow:4px 4px 3px #1F4D9C;
  font-weight: bold;
  
}

h2 { font-size: 1.7em; }

h2.titrepage { 
  margin-top: 5px;
  background: -moz-linear-gradient(100% 51% 318deg, #1F4D9C, rgba(255,255,255,0) 38%);
  
}

.border { border-right-color: #002255; }
hr {background:#002255;color:#002255; }

/* divbox */

div.divbox { 
  background-color: rgba(17,41,92,0.86);
  margin: 5px 0px 5px 0px;
  border-radius: 8px;
  padding: 0 5px 5px 5px;
  color: white;
}

div.divbox h2 {
  margin: 0 -5px 5px -5px; 
  padding-left: 15px;
  border-radius: 8px;
  /*background: -moz-linear-gradient(top, rgba(30,87,153,0.72) 0%, rgba(41,137,216,0.86) 50%, rgba(32,124,202,0.86) 51%, rgba(125,185,232,1) 100%);
  background: linear-gradient(to bottom, rgba(30,87,153,0.72) 0%,rgba(41,137,216,0.86) 50%,rgba(32,124,202,0.86) 51%,rgba(125,185,232,1) 100%);
  */
  background-color: rgba(17,41,92,0.86);
  
}



/* topmenu */
#topmenu { background-color: #0d2d51; margin-bottom: 5px;}
#topmenu ul { display: inline; list-style: none; }
#topmenu ul li { display: inline; margin-left: 5px; }

#topmenu, #topmenu a, #topmenu a:visited { color: white; font-weight: bold; }

/* ul.errorlist */
ul.errorlist {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
ul.errorlist {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}

/* form */

input[type="text"], input[type="checkbox"], select {
  padding: 1px 3px 1px 3px;
  border: 1px solid #5fbcd3;
  border-radius: 5px;
  box-shadow: none;
  background-color: #FFF;
  color: #000;
  margin: 1px 2px 1px 2px;
}

input[type="submit"], .action { 
  border: 0px solid black;
  background-color: #FF7F2A;
  color: white;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  text-decoration: none;
}
input[type="submit"]:hover, .action:hover { background-color: #008000; color: white;}

fieldset {
  border-radius: 5px;
  border: 1px solid #1c6fcd;
}

fieldset legend { padding-left: 5px; padding-right: 5px; color: #1c6fcd; } 

/* lien */
div.dataTables_paginate a {
  border: 0px solid black;
  background-color: #5fbcd3;
  color: white;
  font-weight: bold;
  margin: 5px 5px 5px 5px;
  padding: 3px 5px 3px 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

div.dataTables_paginate a.paginate_button_disabled {
  cursor: not-allowed;
}

div.dataTables_paginate a.paginate_active {
  background-color: #0044AA;
}


/* table */

table { border-radius: 0; border-collapse: separate; border-spacing: 2px;
  width: 100%;
}

/*table tr { background-color: white; }*/

div.tableTitle { 
  font-weight: bold; 
  color: #FFFFFF;
}

table th { color: #FFF; background-color: #1F4D9C;
  border: 0px solid #FFFFFF;
  background: -moz-linear-gradient(100% 51% 318deg, #1F4D9C, rgba(255,255,255,0) 38%);
}

table td { background-color: white; border: 1px solid #1c6fcd; }
tbody tr:nth-child(even) td, tbody tr.even td {background: #D9FDFF;}


/*table formAsTable */

table.formAsTable { border-collapse: separate; border-spacing: 2px;}
table.formAsTable td, table.formAsTable th { border-top-right-radius: 8px; border-bottom-right-radius: 8px; }
table.formAsTable th { border-color: #0d2d51; border-top-left-radius: 8px; border-bottom-left-radius: 8px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;}
table.formAsTable td ul { margin-bottom: 0; }
table.formAsTable td ul li { display: inline; margin-right: 10px;}

table.formAsTable tr.required label:after,
table.formAsTable th.required label:after { content: "*"; color: red;}

table.formAsTable ul.errorlist {padding:0;margin:0;border:0px solid #ddd;}
table.formAsTable tr.error { background: none; }


/*table tableListing */

table.tableListing td { border-bottom: 1px solid #1c6fcd; vertical-align: middle;}
table.tableListing td ul { margin-bottom: 0; }


/* table formAsHorTable */
table.formAsHorTable { border-collapse: separate; border-spacing: 2px;}
table.formAsHorTable th { }
table.formAsHorTable th.required:after { content: "*"; color: red;}
table.formAsHorTable td { background-color: none; }

table.formAsHorTable ul.errorlist {padding:0;margin:0;border:0px solid #ddd;}

table.prescriptionForm input { width: 6em; }

/* popbox */

.popbox { 
  display: none;
  position: fixed;
  top: 40%; left: 25%;
  border: 0px solid black;
  border-radius: 5px;
  background-color: black;
  
  width: 50%; height: auto;
  margin-left: auto; margin-right: auto;
  
  color: white;
  padding: 5px;
}

.popbox a.action { float: right; }

.popbox table.formAsTable tr th { color: white; }
.popbox table.formAsTable tr td { background: none;}


/* navigation */

div.navigation { 
  background-color: rgba(17,41,92,0.86); 
  border: 1px dashed #5fbcd3; border-radius: 5px; 
  height: 33px;
  color: #5fbcd3;
}
div.navigation ul { margin: 3px 3px 3px 3px; display: inline; }
div.navigation ul li { display: inline; margin-left: 3px;}
div.navigation div.side_right { float: right; }

div.navigation ul li.active { color: yellow; font-weight: bold; }


/* hack-support jquery-ui */

.ui-widget { font-size: inherit; }
.ui-widget p { position: relative; margin: 2px 2px 2px 2px; padding-left: 25px;}
.ui-widget p span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}
/*.ui-widget thead th { background: none; } */

a.l-button {padding: .2em 1em .6em 20px;text-decoration: none; position: relative; box-shadow:5px 5px 5px #75c8ff; }
a.l-button span.ui-icon { float: left; margin: 0 .3em 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px;}

a.l-button { margin-bottom: 7px; margin-right: 5px; display: inline-block;}
a.l-button:hover { 
  position: relative;
  top: 5px; left: 5px;
  box-shadow:0px 0px 5px #75c8ff;
  
}
a.l-button, a.l-button:hover { color: white; height: 1em;}