{% extends "base.html" %}
{% load antares_tags %}

{% block center %}
<h1>Bienvenue sur Antares</h1>
<div class="divbox">
	<h2>Utilisation</h2>
	<ul>
		<li>Utilisez le menu du haut pour naviguer dans les différentes parties du programme</li>
		<li>Des boutons apparaissent dans la barre bleue du bas dans certaines parties, notamment la création de pro forma ou de facture</li>
		<li>Un indicateur de page longue apparait dans la barre bleue du bah pour vous indiquer que la page est plus longue que la fenêtre, penser à faire défiller la page</li>
	</ul>
</div>

{% endblock %}